.badge {
  background: #d1d1d1;
  border-radius: 0.4rem;
  padding: 7px 15px;
  font-size: 1rem;
  font-weight: 600;
  height: 3rem;
  letter-spacing: 0.1rem;
  line-height: 3rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

.spinner {
  display: inline-block;
  width: 150px;
  height: 150px;
  border: 3px solid #9b4dca;
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
